@model Bazar.Models.ViewModels.BlogViewModel

@{
    ViewBag.Title = "Базар-Ресторан";
}

<div class="article-view container mt-5 mb-5">

    <div class="category-title">
        <a asp-action="Index" asp-route-linkCategory="@Model.Article.BlogCategory.LinkUrl" style="color:#@Model.Article.BlogCategory.Color">
            |    @Model.Article.BlogCategory.LinkTitle
        </a>    
    </div>

    <div class="date">
        @Model.Article.FormattedDate
    </div>

    <h1>@Model.Article.Title</h1>

    <div class="image-container mt-4">
        <img class="img-fluid" src="~/DynamicImages/Article/@Model.Article.ImageFileName" alt="@Model.Article.ImageAlt" title="@Model.Article.ImageTitle" />
    </div>

    <div class="text mt-5">
        @Html.Raw(Model.Article.Content)
    </div>

    <div>
        <h2>Вам також може сподобатися</h2>

        <div class="row articles-row">
            @foreach (var article in Model.Articles)
            {
                <div class="col-xl-4 col-lg-4 col-md-6 mt-4 article-item">
                    <a asp-controller="Blog" asp-action="View" asp-route-linkCategory="@article.BlogCategory.LinkUrl" asp-route-linkUrl="@article.LinkUrl">
                        <div class="image-container">
                            <img class="article-image" src="~/DynamicImages/Article/@article.ImageSmallFileName" alt="@article.ImageAlt" title="@article.ImageTitle" />
                        </div>
                        <div class="title">@article.LinkTitle</div>
                    </a>
                    <div class="info">
                        <div class="date">
                            <img src="~/img/clock.png" alt="clock title" />
                            @article.FormattedDate
                        </div>
                        <div class="category">
                            <a asp-action="Index" asp-controller="Blog" asp-route-linkCategory="@article.BlogCategory.LinkUrl" style="color:#@article.BlogCategory.Color">
                                <span class="stick">|</span>@article.BlogCategory.LinkTitle
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>  

    </div>

</div>